* {
  all: unset;
}

tooltip {
  background: $background;
  border: 1px solid;
}

.bar {
  font-family: "Terminess Nerd Font";
  background-color: $background;
  color: $foreground;
  padding: 10px;
}

.workspaces {
  button {
    background: none;
  }

  .workspaces-active {
    @include color-shadow($gb-dm-fg1, $on-hover: 0);
    font-weight: bold;
  }

  .workspaces-inactive {
    @include color-shadow($gb-dm-bg4);
  }
}
