* {
  all: unset;
  font-family: "Terminess Nerd Font";
}

tooltip {
  background: $background;
  border: 1px solid;
}

.bar {
  font-family: "Terminess Nerd Font";
  background-color: $background;
}
