* {
  all: unset;
}

tooltip {
  background: $background;
  border: 1px solid;
}

.bar {
  font-family: "Terminess Nerd Font";
  background-color: $background;
  color: $foreground;
  padding: 10px;
}

.workspaces {
  button {
    background: none;
  }

  .workspaces-active {
    color: $gb-dm-fg1;
    font-weight: bold;
  }

  .workspaces-inactive {
    color: $gb-dm-bg4;
  }
}
